/*
    GENERAL
*/

* {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #838383;
    margin: 0;
    border: 1px solid #838383;
    padding: 0;
}

/* PAGE AND AREAS */

#page {
    display: grid;
    grid-template-columns: 5fr 8fr;
    grid-template-areas: 
        "picture header"
        "aside main";
}

#picture {
    grid-area: picture;
    background-color: #FBCB07;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    background-color: #FBCB07;
}

main {
    grid-area: main;
}

/* 
    MEDIA QUERIES FOR RESPONSIVENESS :
    ---+--------+-------
    xs |    0px |  575px |
    sm |  576px |  767px 
    md |  768px |  991px
    lg |  992px | 1199px
    xl | 1200px |    +px
*/

@media screen and (max-width: 1199px) {
    #page {
        border: 3px solid blue; /* Temporary */
    }
}

@media screen and (max-width: 991px) {
    #page {
        border: 3px solid red; /* Temporary */
    }

}

@media screen and (max-width: 767px) {
    #page {
        border: 3px solid green; /* Temporary */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                "picture"
                "header"
                "aside"
                "main";
    }
    header {
        background-color: #FBCB07;
    }
}

@media screen and (max-width: 575px) {
    #page {
        border: 3px solid purple; /* Temporary */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                "picture"
                "header"
                "aside"
                "main";
    }
    header {
        background-color: #FBCB07;
    }
}