/*
    GENERAL
*/

* {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #838383;
    
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* PAGE AND AREAS */

#page {
    display: grid;
    grid-template-columns: 4fr 9fr;
    grid-template-areas: 
        "picture header"
        "aside main";
}

#picture {
    grid-area: picture;
    display: flex;
    justify-content: center;
    background-color: #FBCB07;
}

#photo {
    height: 210px;
    margin: 65px 0 45px 0;
    border: 5px solid #D5B614;
    border-radius: 50%;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    background-color: #FBCB07;
}

main {
    grid-area: main;
}

/* 
    MEDIA QUERIES FOR RESPONSIVENESS :
    ---+--------+-------
    xs |    0px |  575px |
    sm |  576px |  767px 
    md |  768px |  991px
    lg |  992px | 1199px
    xl | 1200px |    +px
*/

@media screen and (max-width: 1199px) {
    #page {
        
    }
}

@media screen and (max-width: 991px) {
    #page {

    }

}

@media screen and (max-width: 767px) {
    #page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                "picture"
                "header"
                "aside"
                "main";
    }
    header {
        background-color: #FBCB07;
    }
}

@media screen and (max-width: 575px) {
    #page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                "picture"
                "header"
                "aside"
                "main";
    }
    header {
        background-color: #FBCB07;
    }
}